body {
margin:0;
}

#body {
	text-align:center;
	font-family: 'Lucida Sans Typewriter', 'Courier New', monospace;
}

#title {
	font-size:50px;
	width:100%
}

#phil, #amber, #and {
	display:inline-block;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
}

#phil {
	text-align: right;
}

#amber {
	text-align: left;
}

#menu {
    background:grey;
	width:100%;
}

.language {
	color:white;
	padding:15px 20px;
	display:inline-block;
}

#contents {
	width:auto;
}

pre  {
	font-family: 'Lucida Sans Typewriter', 'Courier New', monospace;
	text-align:left;
	margin:auto;
	overflow:auto;
	width:90%;
}

code {
	font-family: 'Lucida Sans Typewriter', 'Courier New', monospace;
	text-align:left;
	margin:auto;
	overflow:auto;
	white-space:pre;
}




